* {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .background-top {
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-width: 250px;
    height: 90px;
    background-color: rgb(0, 0, 0);
  }
  
  .background {
    display: flex;
    background-color: rgb(243, 245, 247);
    width: 100%;
    min-width: 250px;
    height: 100%;
  }
  
  .grid-area {
    display: flex;
    flex-direction: column;
    z-index: 1;
    display: flex;
    width: 800px;
    min-width: 250px;
    height: auto;
    margin: auto;
    margin-top: 36px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .section1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 250px;
    margin: auto;
    justify-content: left;
    padding: 16px;
    border-radius: 8px 8px 0px 0px;
    background-color: rgb(255, 255, 255);
  }
  
  .block-one {
    display: flex;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
    border-radius: 12px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
  }
  
  .logo {
    display: flex;
    align-items: center;
    height: auto;
    color: white;
  }
  
  .title-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    width: auto;
    font-size: 11px;
    font-weight: 600;
    color: rgb(127, 143, 159);
  }
  
  .title {
    font-size: 16px;
    font-weight: 800;
    line-height: 150%;
    color: rgb(48, 51, 60);
  }
  
  .sub-title {
    display: flex;
    font-size: 110px;
  }
  
  .knife-and-fork {
    display: flex;
    justify-content: baseline;
    position: relative;
    margin-top: 2px;
    margin-right: 2px;
    width: 12px;
    height: 12px;
    opacity: 0.4;
  }
  
  .texto-head {
    font-size: 11px;
  }
  
  .ver-mais {
    font-size: 11px;
    cursor: pointer;
  }
  
  .block-two {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    font-size: 110px;
  }
  
  .clock {
    justify-content: baseline;
    display: flex;
    position: relative;
    width: 13px;
    height: 13px;
    margin-right: 7px;
    color: rgb(29, 185, 146);
  }
  
  .line1 {
    display: flex;
    line-height: 1;
    font-size: 12px;
    font-weight: 600;
    margin-top: 3px;
  }
  
  .text-line1 {
    line-height: 1;
    font-size: 12px;
    font-weight: 600;
    color: rgb(29, 185, 146);
  }
  
  .bike {
    display: flex;
    margin-right: 5px;
    position: relative;
    width: 15px;
    height: 15px;
  }
  
  .line2 {
    display: flex;
    margin-top: 3px;
  }
  
  .borda {
    width: 100%;
    height: 8px;
    background-image: linear-gradient(rgb(198, 205, 212), rgb(232, 234, 237), transparent);
  }
  
  .editar,
  .excluir {
    width: 60px;
    height: 60px;
    border: solid 2px rgb(0, 0, 0);
  }
  
  .excluir {
    margin-left: 10px;
    object-fit: cover;
  }
  
  .edit-icon {
    background-image: url("/comanda/resoucers/IMG/burguer1.jpeg");
    background-size: cover;
  }
  
  .button-pop-up {
    border: none;
    background-color: rgb(255, 255, 255);
    text-decoration: underline;
    color: rgb(255, 253, 247);
    font-size: 12px;
    font-weight: 600;
    color: rgb(127, 143, 159);
    cursor: pointer;
  }
  
  .popup-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 2;
    justify-content: center;
  }
  
  .popup-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 700px;
    min-width: 300px;
    background-color: rgb(243, 245, 247);
    border-radius: 4px;
    overflow: hidden;
  }
  
  .popup-header {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 10px;
  }
  
  .close-button-container {
    width: 15px;
    margin-left: 0;
  }
  
  .close-button,
  .close-pop-up {
    border: none;
    background-color: white;
    cursor: pointer;
  }
  
  .close-button:hover {
    opacity: 0.8;
    transition: all 0.3s
  }
  
  .popup-title {
    font-size: 15px;
    font-weight: 700;
    margin: auto;
  }
  
  .content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .adress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 2%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .adress-subcontainer {
    display: flex;
    align-items: center;
  }
  
  .action-buttons-container {
    display: flex;
    margin-right: 20px;
  }
  
  .map-icon-container {
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    background-image: url("/comanda/resoucers/IMG/Location_img.png");
    margin: 20px 0px 20px 20px;
  }
  
  .text-container {
    line-height: 150%;
    padding: 20px;
  }
  
  .buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
  }
  
  .button-action,
  .close-pop-up {
    width: 85%;
    height: 48px;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    text-align: center;
    background-color: black;
    color: rgb(255, 255, 255);
    margin: 5px;
    cursor: pointer;
  }
  
  .button-action:hover {
    opacity: 0.8;
    transition: all 0.3s
  }
  